doctype html
html
head
    title= title
    link(rel="stylesheet" href="/css/bootstrap.min.css")
    link(rel="stylesheet" href="/stylesheets/bootstrap-table.css")
    script(src="/js/jquery.min.js")
    script(src="/js/bootstrap.min.js")
    script(src="/javascripts/bootstrap-table.js")

script.
    $(document).ready(function(){
      var obj= #{logs}        
body
    
block content
   .container
    h4 Device ID Logs
    .success
    .error
//- p  Device ID Logs... 
//- ul#logs
//-  -each log in logs
//-   li #{log.updatedAt} 
//-    li #{log.createdAt} 
//-     li #{log.deviceId}
//-      li #{log.source}  
//-        li #{log.port}   
//-          li  #{log.state} 
//-           li  #{log.__v}
br

table(data-url='/dashboard', data-height='299', data-sort-order='desc', data-sort-name='initialdate' data-search="true" data-pagination="true" data-toggle="table")
    thead
        tr
            th(data-field='updatedAt', data-align='right', data-sortable='true') Updated At
            th(data-field='createdAt', data-align='center', data-sortable='true') Created At
            th(data-field='deviceId', data-sortable='true') Device ID
            th(data-field='source', data-sortable='true') Source
            th(data-field='port', data-sortable='true') Port
            th(data-field='state', data-sortable='true') State
            th(data-field='__v', data-sortable='true') __v
     // build a new table row
         if logs.length
         -each log in logs
          tr
            td #{log['updatedAt']}
            td #{logs['createdAt']}
            td #{logs['deviceId']}
            td #{logs['source']}
            td #{logs['port']}
            td #{logs['state']}
            td #{logs['__v']}
//-         var obj = #{logs}
//-           for (var i = 0; i < obj.length; i++){
//-             console.log(obj[i]);
//-             console.log(obj[i]["source"]);
//- } 
//- td #{log.updatedAt}
//-  td #{log.createdAt}
//-   td #{log.deviceId}
//-     td #{log.source}
//-       td #{log.port}
//-        td #{log.state}
//-         td #{log.__v}
